body {
  background-image: url(../img/fondoPradera8bits.jpeg);
  background-size: cover; }

form {
  width: 200px;
  margin: 20px auto; }

input {
  width: 100%;
  padding: 10px; }

.poke-card {
  position: relative;
  height: 500px;
  font-family: 'Roboto Mono', monospace;
  width: 400px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 210px;
  padding-left: 50px;
  padding-right: 50px; }

.poke-card-juego {
  position: relative;
  height: 500px;
  font-family: 'Roboto Mono', monospace;
  width: 400px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  margin: 0 auto; }

.img-container {
  position: relative;
  width: 180px;
  margin: 10px auto; }

.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 18px; }

.poke-types div {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px dashed black; }

.poke-img {
  width: 180px;
  border-radius: 50%; }

table.pokemon-table {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top; }

.table-container {
  white-space: nowrap;
  overflow-x: auto;
  display: flex; }

.table-container table {
  border: dotted black;
  margin-right: 20px; }

.table-container table:last-child {
  margin-right: 0; }

.table-container table td {
  border-radius: 40px;
  text-align: center; }
