table.pokemon-table {
    display: inline-block;
    margin-right: 20px;
}

.div.table-container {
    white-space: nowrap;
    overflow-x: auto;
}

.table-container table{
    border: dotted black;
}
.table-container table td{
    border: solid black;
    border-radius: 40px;
    text-align: center;
}