table.pokemon-table {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; 
}

.table-container {
    white-space: nowrap;
    overflow-x: auto;
    display: flex; 
}

.table-container table {
    border: dotted black;
    margin-right: 20px; 
}

.table-container table:last-child {
    margin-right: 0; 
}

.table-container table td {
    border-radius: 40px;
    text-align: center;
}
