table.pokemon-table{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.722);
}

.table-container {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
}

.table-container table {
    border: dotted black;
    margin-right: 20px;
    text-align: center;
}

.table-container table:last-child {
    margin-right: 0;
}

.table-container table td {
    border-radius: 40px;
    text-align: center;
}

body {
    text-align: center;
}

.ocultar {
    display: none;
}